# ─── Company Metadata ──────────────────────────────────────────────────────────
COMPANY_NAME=
COMPANY_KEY=

# ─── Odoo Configuration ───────────────────────────────────────────────────────
ODOO_URL=
ODOO_DB=
ODOO_API_KEY=
ODOO_ACCOUNTS=

ODOO_JOURNAL_EDC=
ODOO_JOURNAL_AR=
ODOO_ACCOUNT_BANK_DIFF_INCOME=
ODOO_ACCOUNT_BANK_DIFF_LOSS=

ODO_GROUP_BCA=
ODO_GROUP_MANDIRI=

# ─── Bank Secrets & Passwords ─────────────────────────────────────────────────
BCA_EXCEL_PASSWORD=
MANDIRI_ZIP_PASSWORD=

# ─── Bank Accounts: Mandiri (Example) ─────────────────────────────────────────
ACCOUNT_MANDIRI_main_ALIAS=
ACCOUNT_MANDIRI_main_ACC=
ACCOUNT_MANDIRI_main_MID=
ACCOUNT_MANDIRI_main_STORE=
ACCOUNT_MANDIRI_main_EDC_DEBIT=
ACCOUNT_MANDIRI_main_EDC_CREDIT=
ACCOUNT_MANDIRI_main_AR_DEBIT_DEBITCARD=
ACCOUNT_MANDIRI_main_AR_DEBIT_QR=
ACCOUNT_MANDIRI_main_ADMIN_DEBIT_DEBITCARD=
ACCOUNT_MANDIRI_main_ADMIN_DEBIT_QR=

# ─── Bank Accounts: BCA (Example) ─────────────────────────────────────────────
ACCOUNT_BCA_main_ALIAS=
ACCOUNT_BCA_main_ACC=
ACCOUNT_BCA_main_MID=
ACCOUNT_BCA_main_STORE=
ACCOUNT_BCA_main_EDC_DEBIT=
ACCOUNT_BCA_main_EDC_CREDIT=
ACCOUNT_BCA_main_AR_DEBIT_CREDITCARD=
ACCOUNT_BCA_main_AR_DEBIT_DEBITCARD=
ACCOUNT_BCA_main_AR_DEBIT_QR=
ACCOUNT_BCA_main_ADMIN_DEBIT_CREDITCARD=
ACCOUNT_BCA_main_ADMIN_DEBIT_DEBITCARD=
ACCOUNT_BCA_main_ADMIN_DEBIT_QR=

# ─── Bank Accounts: BRI (Example) ─────────────────────────────────────────────
ACCOUNT_BRI_main_ALIAS=
ACCOUNT_BRI_main_ACC=
ACCOUNT_BRI_main_MID=
ACCOUNT_BRI_main_GROUP=
ACCOUNT_BRI_main_STORE=
ACCOUNT_BRI_main_EDC_DEBIT=
ACCOUNT_BRI_main_EDC_CREDIT=
ACCOUNT_BRI_main_AR_DEBIT_DEBITCARD=
ACCOUNT_BRI_main_AR_DEBIT_QR=
ACCOUNT_BRI_main_ADMIN_DEBIT_DEBITCARD=
ACCOUNT_BRI_main_ADMIN_DEBIT_QR=

# ─── Reconciliation Config ────────────────────────────────────────────────────
JOURNAL_TOLERANCE=

# ─── Supabase Cloud Database ──────────────────────────────────────────────────
SUPABASE_URL=
SERVICE_ROLE=
SUPABASE_ANON_KEY=
ENCRYPTION_KEY=
